.col-offset1 {
    margin-left: 8.3333333%;
}

.col-offset2 {
    margin-left: 16.6666667%;
}

.col-offset3 {
    margin-left: 25%;
}

.col-offset4 {
    margin-left: 33.3333333%;
}

.col-offset5 {
    margin-left: 41.6666667%;
}

.col-offset6 {
    margin-left: 50%;
}

.col-offset7 {
    margin-left: 58.3333333%;
}

.col-offset8 {
    margin-left: 66.6666667%;
}

.col-offset9 {
    margin-left: 75%;
}

.col-offset10 {
    margin-left: 83.3333333%;
}

.col-offset11 {
    margin-left: 91.6666667%;
}

.col-offset12 {
    margin-left: 100%;
}
