.col-order1 {
    order: 1;
}

.col-order2 {
    order: 2;
}

.col-order3 {
    order: 3;
}

.col-order4 {
    order: 4;
}


.col-order5 {
    order: 5;
}

.col-order6 {
    order: 6;
}

.col-order7 {
    order: 7;
}

.col-order8 {
    order: 8;
}

.col-order9 {
    order: 9;
}

.col-order10 {
    order: 10;
}

.col-order11 {
    order: 11;
}

.col-order12 {
    order: 12;
}
