body {
  background: rgba(18,18,18,0);
}
.container {
  overflow: hidden;
}
.container .com-header {
  position: relative;
  height: 5rem;
}
.container .com-header .header {
  position: fixed;
  right: 0;
  left: 0;
  height: 5rem;
  background: #c24e4e;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}
.container .com-main {
  max-width: 1120px;
  position: relative;
  margin: 0 auto;
  margin-top: 60px;
  z-index: -1;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}
.container .com-main .com-nav {
  position: fixed;
  right: 0;
  left: 0;
  top: 5rem;
  height: 50px;
  background: #6b59bd;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.05);
}
.container .com-main .com-context {
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
}
.container .com-main .com-context .context {
  background: #8bc071;
  width: 80%;
  height: 200vh;
}
.container .com-main .com-context .com-aside {
  background: #c071a7;
  height: 50vh;
  flex: 1;
  margin-left: 10px;
}
.container .com-footer {
  position: relative;
  margin-top: 10px;
  height: 5rem;
}
.container .com-footer .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background: #000;
}
